/* eslint-disable prettier/prettier */
import styles from './{{kebabCase name}}.module.less';

export const {{pascalCase name}} = () => {
  return (
    <div className={styles.container}>
      {{pascalCase name}}
    </div>
  );
};
